.background-black {
  background-color: #1f1f1f;
  padding-top: 40px;
  padding-bottom: 40px;
}
.green {
  color: #9be8d8;
  font-weight: 800;
}
.green2 {
  color: #39bea3;
}


.html  {
  color: #f08e5d;
 
}
.css  {
  color: #44aeee;
  
}
.javascript  {
  color: #e8d11e;
  
}
