.background-black {
  background-color: #1f1f1f;
  padding-top: 40px;
  padding-bottom: 40px;
}
.green {
  color: #9be8d8;
}
.green2 {
  color: #39bea3;
}
.grey {
  color: #4b4b4b;
  font-size: 60px;
}
.html {
  background-color: #f08e5d;
}
.css {
  background-color: #44aeee;
}
.javascript {
  background-color: #e8d11e;
}
