.habilidades {
 
  padding-bottom: 40px;
}

.habilidades-conteudo {
  text-align: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 50px;
  padding-top: 50px;
}

.habilidades-centro {
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 30px;
}
