.progresso-circular {
  position: relative;
  height: 150px;
  width: 150px;
    border-radius: 50%;
  background: conic-gradient(#39bea3 0.6deg, #4b4b4b 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
}

.progresso-circular::before {
  content: '';
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #232323

}

.valor-progresso {
  position: relative;
  font-size: 32px;
  
}


